<div class="container mt50">

  <div class="jumbotron ">
      <h1>Angular Tutorial</h1>
      <p>This is about managing employee information using the technolgies mentioned </p>
      <ul class="nav">
          <li class="nav-item"><a href="https://angular.io" class="nav-link" target="_blank">Angular7</a></li>
          <li class="nav-item"><a href="http://reactivex.io" class="nav-link" target="_blank">RxJs</a></li>
          <li class="nav-item"><a href="https://www.w3schools.com/html/" class="nav-link" target="_blank">Html</a></li>
          <li class="nav-item"><a href="https://www.w3schools.com/css/" class="nav-link" target="_blank">CSS</a></li>
        </ul>
    </div>


</div>
