/* You can add global styles to this file, and also import other style files */
.mt50 {
  margin-top: 50px;
}
.card {
  width: 250px;
}
.mTB20 {
  margin: 20px 0;
}
.page {
  margin: 20px auto;
  text-align: center;
}

